body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 100px 20px 100px;
}

.header-links{
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.hero-box {
    flex-basis: 500px;
    padding-right: 50px;
    text-align: left;
}
.hero-box p {
    color: #e5e7eb;
    font-size: 18px;
}
.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-box button {
    background-color: #c7302b;
    border-radius: 10px;
    border: none;
    width: 100px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}

.hero-img img{
    width: 600px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 100px 100px;
    align-items: center;
}

.content h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 0;
}
.content-images {
    display: flex;
    justify-content: center;
    gap: 75px;
}
.content-images img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 3px solid black;
}
.content-images img[src="./images/lace.jpg"] {
    object-position: 15% 0;
}
.content-images p {
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.quote-content p {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: 501;
}
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px;
}

.blue-box {
    display: flex;
    background-color: #c7302b;
    border-radius: 10px;
    flex-basis: 50%;
    justify-content: space-between;
    padding: 45px 100px 45px 100px;
    text-align: left;
}

.blue-box button {
    background-color: #c7302b;
    border-radius: 10px;
    padding: 5px 25px;
    font-weight: 600;
    color:#e5e7eb;
}

.inside-box h3 {
    margin: 0;
    color: #e5e7eb;
}
.sign-up-text {
    color: #e5e7eb;
}
.footer {
    background-color: #1f2937;
}
.copyright {
    padding: 25px;
    font-size: 18px;
    color: #e5e7eb;
}